<!DOCTYPE html>
<html>
<head>
    <title>CSS Text Styles portfolio</title>
    <style
        .my-text {
            color: blue;             
            font-family: Arial, sans-serif; 
            font-weight: bold;        
            font-style: italic;       
            font-size: 20px;          
        }
    </style>
</head>
<body>
    <h1 class="my-text">Hello, This is styled text!</h1>
</body>
</html>
